<launch>
<node   pkg="nodelet"
        type="nodelet" name="init"
        args="standalone behaviors/pac-man-bot/init"
        respawn="true" output="screen">
    <!-- put args here -->
</node>

<node   pkg="nodelet"
        type="nodelet" name="check_for_ghosts"
        args="standalone behaviors/pac-man-bot/check_for_ghosts"
        respawn="true" output="screen"> 
    <!-- put args here -->
</node>

<node   pkg="nodelet"
        type="nodelet" name="ground_search"
        args="standalone behaviors/pac-man-bot/ground_search"
        respawn="true" output="screen">
    <!-- put args here -->
</node>

<node   pkg="nodelet"
        type="nodelet" name="reach_search"
        args="standalone behaviors/pac-man-bot/reach_search"
        respawn="true" output="screen">
    <!-- put args here -->
    <param name="/reach_search/targetArmDistance" type="double" value="2.5" />
</node>

</launch>